body{
    /* max-width: 1440px; */
    width: 95%;
    padding: 0 1rem;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-direction: row;
}

.column{
    flex-direction: column;
    max-width: 100px;
}
.center{
    justify-content: center;
    gap: 20px;
}

#calculator{
    white-space: nowrap;
    overflow-x: scroll;
}
#in-signal{
    border: 3px solid grey;
    margin-left: 5px;
}
.split{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.split:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 1rem;
    background-color: gainsboro;
    z-index: -3;
}

.split select, .in-split{
    align-self: center;
    max-height: 40px;
}

label{
    display: flex;
    align-items: center;
}
label > input, label > button{
    align-items: center;
}

.split:after{
    position: absolute;
    top: calc(50% - 30px);
    content: attr(data-type) " " attr(data-fiber);
}

input{
    max-width: 40px;
    text-align: center;
}
input:disabled{
    color: black;
    border: 1px solid grey;
}



/* .out-split .row:first-child > .create-split{
    border-top-right-radius: 5px;
}

.out-split .row:last-child > .create-split{
    border-bottom-right-radius: 5px;
} */

.create-split{
    background-color: #3dd83871;
    color: black;
    font-weight: 700;
    font-size: large;
    border: 1px solid grey;
    cursor: pointer;
}
.create-split:disabled{
    cursor: not-allowed;
    color: grey;
    background-color: #eeeaea;
}



table, td{
    border-collapse: collapse;
    border: 1px solid black;
}
thead{
    background-color: #999;
}
th,td{
    padding: 5px;
    text-align: center;
}
tr{
   font-weight: 700;
}